.home_page_body {
  display: grid;
  margin-top: 1vw;
  grid-gap: 20px;
  grid-template-columns: 96%;
  place-content: center;
}

.cm_card_container {
  display: grid;
  grid-template-columns: 96%;
}

.arrownext,
.arrowprev {
  top: 40%;
}

.fab {
  font-size: 16px;
}

.card_group {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 100%;
}

.card_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  object-fit: cover;
}

.fav_icon {
  position: absolute;
  top: 0;
  right: 0;
}

.amneties {
  display: flex;
  align-items: center;
}

.amneties .hotel_amneties {
  width: 30px;
  height: 30px;
  margin-left: 3px;
}

.rating {
  display: flex;
  align-items: center;
}

.star_rating {
  display: flex;
  align-items: center;
}

.small_rating {
  display: none;
}

.card_img_container {
  position: relative;
}

.fav_icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.liked_icon {
  display: block;
}

.unliked_icon {
  display: block;
}

.hotel_name {
  font-size: 20px;
  color: var(--black);
  font-weight: 700;
  margin: 0 5px 0 0;
}

.hotel_address {
  font-size: 16px;
  color: var(--black);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.price_head {
  font-size: 24px;
  margin-right: 8px;
  color: #ee2e24;
  font-weight: 700;
}

.price_bottom {
  font-size: 12px;
  color: #6d787d;
  padding-bottom: 4px !important;
  text-transform: lowercase;
}

.price_bottom_small {
  display: none;
}

.mob_arrow {
  display: none;
}

.hotel_card {
  display: grid !important;
  grid-template-rows: 160px max-content;
  grid-template-columns: 90%;
  place-content: center;
}

.tour_banner {
  width: 100%;
  height: 400px;
  position: relative;
}

.tour_banner_text {
  position: absolute;
  top: 10%;
  left: 4%;
  color: rgb(46, 79, 79);
}

.tour_banner img {
  width: 100%;
  height: 100%;
  border-radius: 11px;
}

@media (max-width: 600px) {
  .cm_card_container {
    grid-template-columns: 100%;
  }

  .hotel_card {
    grid-template-rows: 128px max-content;
  }

  .fav_icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .arrownext,
  .arrowprev {
    top: 18%;
    right: 0;
    font-size: 16px;
    font-weight: 1300;
  }

  .mob_arrow {
    display: block;
    right: 0;
    position: absolute;
    top: -18%;
  }

  .small_rating {
    display: flex;
    align-items: center;
  }

  .star_rating {
    display: none;
  }

  .price_head {
    color: var(--black);
    font-size: 14px;
    font-weight: 1600;
    margin-right: 2px;
  }

  .price_bottom {
    display: none;
  }

  .price_bottom_small {
    color: var(--black);
    display: block;
    font-size: 14px;
    font-weight: 1600;
  }

  .small_price_layout {
    display: flex;
  }

  .fab_arrow {
    display: none;
  }

  .small_arrow,
  .small_prev_arrow {
    display: block;
  }
}
