.admin_dash {
  display: grid;
  grid-template-columns: 20vw 80vw;
  color: #212529;
  position: relative;
}
.home_admin_dash {
  display: grid;
  grid-auto-columns: 98%;
  place-content: center;
  grid-gap: 40px;
}
.admin_body {
  margin-left: 2vw;
  margin-right: 7vw;
}
.admin_book_details {
  background: var(--white);
}
@media (max-width: 768px) {
  .admin_dash {
    grid-template-columns: 100%;
  }
}
