.home_page_body
{
  display: grid;
  margin-top: 1vw;
  grid-gap: 20px;
  grid-template-columns: 96%;
  place-content: center;
}

.card_group
{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 100%;
}