.profile {
}
.Account_details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.login_form_big{
    display: grid;
    grid-auto-columns: 40%;
    place-content: center;
    background: #fff;
    grid-auto-rows: auto;
	margin-top:9vh
}

.login_form_big .signin_form{
	background:#fff
}
.profile_log_container{
	    display: grid;
    grid-auto-columns: 100%;
    place-content: center;
    background: #fff;
    border: 1px solid black;
    border-radius: 14px;
    padding: 25px;
    grid-gap: 25px;
	
}
@media (max-width:800px){
.login_form_big{
grid-auto-columns:80%;
}
}